RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_ENDPOINT=localhost:9000

DUCKLAKE_CATALOG_USER=
DUCKLAKE_CATALOG_PASSWORD=
DUCKLAKE_CATALOG_DB=ducklake_catalog
DUCKLAKE_CATALOG_HOST=localhost
DUCKLAKE_CATALOG_PORT=5436
